/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
  --text-color: white;
  --all-color:rgb(150 128 93);
  --new-color:#faf0dfaf;
  --card-color:#d8c4a56b;
  /* background-color:ffdda5f0    faf3e8eb; */
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Amiri', serif !important;
  margin: 0;
  font-weight: bold;
}
.bg-container{
  padding-right: 8px;
  padding-left: 8px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/2751.jpg");
  box-shadow: 1px -2px 400px 200px rgb(243 236 219) inset;
    -webkit-box-shadow: 1px -2px 400px 200px rgb(239 224 193) inset;
    -moz-box-shadow: 1px -2px 400px 200px rgba(150,148,71,0.92) inset;
  
  
}
.container{
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: var(--new-color);
}
.card-header{
  background-color: var(--new-color);
  text-align: center;
  font-size: larger;
}
.last{
  padding-bottom: 20px;
}
.son{
  padding-bottom: 0;
}
iframe{
  border: 2px solid var(--new-color);
  border-radius: 2px;
}
.youtube{
  text-align: right;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 1200px !important;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 1500px !important;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1700px !important;
  }
}
/* start header */
.navbar  {
  background-color: #d6c7afbb !important;
}
.header .logo{
  color: var(--all-color);
  font-weight: 600;
  font-size: 25px;
}
.navbar .search{
  background-color:#efe1cdeb !important; 
  border: 1px solid #CC9B6D;
}
.search-btn{
  background-color: #efe1cdeb !important;
  border: 1px solid #CC9B6D;
}
.search-btn:hover{
  background-color: #d4be9cf5 !important;
}

/* end haeder */
/* start slider  */
.slider{
  background-color: #fefefe00;
  overflow: hidden;
  
 
}

.slider-1 {
  background-color: var(--new-color);
  padding: 10px !important;
 
  width: 100%;
  margin: auto;
}


.testimonial-card {
  background-color: var(--new-color);
  border: 4px solid var(--all-color);
  padding: 4px !important;;
}
.zero{
  padding: 0 !important;
}

.slider-1 .slider-container {
    position: relative;
}

.slider-1 .swiper-container {
  width: 93%;
  position: static;
}


.slider-1 .card {
  border: none;
  position: relative;
  background-color: transparent;
  padding: 0 !important;
}

.slider-1 .card-image {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}

.slider-1 .card-body {
    padding: 0 !important;
}
.slider-1 .avatar {
  width: 100%;
  height:100%;
  
}
/*end slider*/

/* Start Landing Section */
.landing {
    /* background-image: url(../images/landing.jpg); */
    background-color: #e5d7c2d7;
    /* background-image: url("../images/Capture.PNG"); */
    height: calc(100vh - 64px);
    position: relative;
    background-size: cover;
  }
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 650px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--all-color);
  margin-bottom: 20px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: #777;

}
.landing hr{
  background-color: var(--all-color);
  border: 2px solid var(--all-color);
  width: 80px;
  border-radius: 3px;
}


.landing .intro-text button{
  background: none;
  border: 1px solid var(--all-color);
  padding: 15px 30px 15px 35px;
  color: var(--all-color);
  transition: 0.3s;
  margin-bottom: 20px;
}
.landing .intro-text button:hover {
  background-color: var(--all-color);
  color: #f6f6f6;
  transition: 0.3s;
}

/* end .landing section */
/* start books section */

/* Start books */
.card-body{
  background-color: var(--new-color);
}
.book{
  margin-bottom: 50px;
}
.articles{
  margin-top: 50px;
}
.event_section {
  background-color: var(--new-color);
  padding: 20px 0 20px 0;
}
.event_section .heading_container h3 {
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  padding: 10px 50px ;
  width: fit-content;
  font-size: 20px;
  /* border-top: 5px solid var(--all-color);
  border-right: 5px solid var(--all-color);
  border-left: 5px solid var(--all-color); */

}

.event_section .event_container .mid{
  border-right: 1px dashed var(--all-color);
  border-left: 1px dashed var(--all-color);
}
.event_section p {
  color: #a4a4a4;
}

.event_section .event_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 2px solid var(--all-color); */
  margin: 15px 0;
  border-radius: 5px;
  padding: 0;
}

.event_section .event_container .box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.event_section .event_container .box .img-box img {
  width: 80%;
}

.event_section .event_container .img-box h6{
  font-size: 0.75rem;
  padding: 10px 0 10px 0;

}


.event_section .event_container .box .img-box a{
  font-size: 0.7rem;
  color: #a4a4a4;
  text-decoration: none;
  transition: 0.4s;
}
.event_section .event_container .box .img-box a:hover{
  color: #988c48;
  margin-right: 10px;
  transition: 0.4s;
}


.event_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.event_section .btn-box a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 60px;
  border: 1px solid var(--all-color);
  border-radius: 5px;
  color: black;
  margin-top: 20px;
  transition: 0.3s;
}

.event_section .btn-box a:hover {
  background-color: var(--all-color);
  color: white;
  margin-right: 50px;
  transition: 0.3s;
}
/* End books */
/*start audio*/

.audio .event_section .event_container .box .img-box{
  padding: 10px;
}

.audio .event_section .event_container .box .img-box a{
  width: 100%;
  text-align: center;
  color: var(--all-color);
  font-size: larger;
  border-bottom: 2px dashed #133e3f47;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
  
}
.audio .event_section .event_container .box .img-box a:hover{
  color: black;
  transition: 0.3s;
}
.audio .event_section .event_container .box .img-box h6{
  display: block;
}

.media .event_section .event_container .img-box {
  padding: 0;
}

.read-more{
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}
.read-more a{
  text-decoration: none;
  color:var(--all-color);
  padding: 4px 30px 5px 30px;
  /* border-bottom: 2px solid var(--all-color);
  border-right: 2px solid var(--all-color);
  border-left: 2px solid var(--all-color); */
  transition: 0.4s;
}
.read-more a:hover{
  background-color: var(--all-color);
  color: #f6f6f6;
  padding: 10px 30px 10px 30px; 
  transition: 0.4s;

}
.card .card-header h6,
.card .card-header ul{
  display: inline;
  font-size: 20px;
  
}

.card .card-header ul{
  list-style: none;
  font-size: 20px;

}
.card .card-header ul a{
  transition: var(--main-duration);
}
.landing .intro-text ul a:hover{
  color: #CC9B6D;
  font-size: 40px;
  transition: var(--main-duration);
}
.card .card-header ul li .fa-facebook-square{
  color: #6383c2 ;
  transition: 0.3s;
}
.card .card-header ul li .fa-facebook-square:hover{
  color: #3c61ab ;
  font-size: 25px;
  transition: 0.3s;
}
.card .card-header ul li .fa-twitter-square{
  color: #47b1f3 ;
  transition: 0.3s;
}
.card .card-header ul li .fa-twitter-square:hover{
  color: #1DA1F2 ;
  font-size: 25px;
  transition: 0.3s;
}
.card .card-header ul li .fa-linkedin{
  color: #448fb1  ;
  transition: 0.3s;
}
.card .card-header ul li .fa-linkedin:hover{
  color: #0f6f9b  ;
  font-size: 25px;
  transition: 0.3s;
}
.card .card-header ul li .fa-youtube-square{
  color: #f13a3a ;
  transition: 0.3s;
}
.card .card-header ul li .fa-youtube-square:hover{
  color: #ce0606 ;
  font-size: 25px;
  transition: 0.3s;
}

.card .card-header ul li {
  display: inline;
  padding: 7px;
}
/*end audio*/

/*start contact us*/
.contact {
  background-color: #e5d7c2d7;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}
.contact .info {
  width: 50%;
  float: left;
  width: 50%;
  margin-right: 5%;
  
}
.contact h2 {
  color: #CC9B6D;
  margin-left: 40px;
}
.contact p {
  color: #CC9B6D;
  margin-left: 40px;
  line-height: 1.6;
}
.contact p strong {
  color: #CC9B6D;
}

.contact .form {
  width: 45%;
  float: left;
}
.contact .form label {
  display: block;
  color: #CC9B6D;
  margin: 10px 0 ;
}
.contact .form input {
  background-color: #d4be9cf5;
  color: white;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
}
.contact .form textarea {
  background-color: #d4be9cf5;
  color: white;
  padding: 10px;
  border: 0;
  width: 80%;
  height: 270px;
  
}
.contact .form input[type="submit"]{
  background-color: #CC9B6D;
  color: var(--text-color);
  border: 2px;
  width: 30%;
  margin-top: 20px;
}

/*end contact us */
/*start footer*/
.footer {
  background-color: #dfd1baf5;
  color: var(--text-color);
  padding: 20px 0 ;
  text-align: center;
}

/*end footer*/


.shadow{
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 1px 15px 20px rgba(0,0,0,0.02); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 1px 15px 20px rgba(0,0,0,0.02);
}



